# Analysis
notebooks/
analysis/data/*
.ipynb_checkpoints/

# Store files
.DS_Store
.vscode
*.pyc

# Venv
covid_env/
venvanalysis/
venv/
.venv/

# Data & credentials
src/configs/gcloud_credentials.json
src/configs/secrets.yaml
src/cities_static.csv
src/temp.csv
streamlit-0.*
.env