refresh_rate: 999999 # minutes

br:
    api:
        external: http://datasource.coronacidades.org/
        local: http://45.55.43.231:7000/
        mapserver_external: https://helper.coronacidades.org/
        mapserver_local: http://45.55.43.231:5000/
        endpoints:
            simulacovid: "br/cities/simulacovid/main"
            rt:
                city: "br/cities/rt"
                health_region: "br/health_region/rt"
                state: "br/states/rt"
            farolcovid: 
                city: "br/cities/farolcovid/main"
                health_region: "br/health_region/farolcovid/main"
                state: "br/states/farolcovid/main"
            analysis:
                cases: "br/cities/cases/full"
                owid: "world/owid/heatmap"
            safereopen:
                economic_data: 
                    state: "br/states/safereopen/main"
                    health_region: "br/health_region/safereopen/main"
                cnae_sectors: "br/cnae/sectors"
            utilities:
                place_ids: "br/places/ids"
            parameters:
                state_num_id: "br/states/parameters"
                health_region_id: "br/health_region/parameters"
                city_id: "br/cities/parameters"
            maps: "br/maps"
    drive_paths:
        br_id_state_region_city: https://docs.google.com/spreadsheets/d/1pHkH9FZj-c_bCEdvCH9k54uog5QDEd_x5xi4YmDsqyY
        cities_population: https://docs.google.com/spreadsheets/d/1k8mXuUggBuBEghHhhLrLtA-5wa4JsAc-D35S5bNlf24
        health_infrastructure: https://docs.google.com/spreadsheets/d/1MwhUWQmb7A_Io6Af4jDiMMBKh0BpAcq2BrCg8RGIfBs
        embaixadores: https://docs.google.com/spreadsheets/d/1CASa-MdJS_o2tffWlIS--FSskSxhJUw3pA1L5AGIe04
        CNAE_sectors: https://docs.google.com/spreadsheets/d/1pP8dY9kRa9EvX3KcVPfMWJ8exDaoT1_bBggSKfD3y0k
        br_states_reopening_data: https://docs.google.com/spreadsheets/d/1H20RNeTJqON8cqhwiZJdfXqVYbFVKrG5
        br_health_region_reopening_data: https://docs.google.com/spreadsheets/d/1FB5GfHN0TGcC6YYCvoMLwZPN0chpHRMi
    cases:
        url: https://data.brasil.io/dataset/covid19/caso_full.csv.gz
        rename:
            city_ibge_code: 'city_id'
            city: 'city_name'
            state: 'state_id'
            date: 'last_updated'
            last_available_deaths: 'deaths'
            last_available_confirmed: 'confirmed_cases'
            new_confirmed: 'daily_cases'
            daily_cases_sum: 'infectious_period_cases'
        notification_window_days: 7
    cnes:
        source: 'DataSUS'
    farolcovid:
        categories:
            {0: "novo normal", 1: "moderado", 2: "alto", 3: "altíssimo"}
        rules:
            situation_classification:
                column_name: 'daily_cases_mavg_100k' 
                cuts: [0, 3.7, 12.5, 27.4, 1000000]
                categories: [0, 1, 2, 3]

            control_classification:
                column_name: "rt_most_likely"
                cuts: [0, 0.9, 1.1, 1.4, 10]
                categories: [0, 1, 2, 3]

            capacity_classification:
                column_name: 'dday_icu_beds'
                cuts: [0, 15, 20, 30, 91.001]
                categories: [3, 2, 1, 0]
            
            trust_classification:
                column_name: 'notification_rate'
                cuts: [0, 0.3, 0.4, 0.6, 1.001]
                categories: [3, 2, 1, 0]
        date_update: "15/09/2020"
    indicators:
        situation:
            risk: "situation_classification"
            right_display: "daily_cases_growth"
            left_display: "daily_cases_growth_ndays"
            display: "daily_cases_mavg_100k"
            last_updated: "last_updated_cases"
        control:
            risk: "control_classification"
            right_display: "rt_most_likely_growth"
            left_display: ["rt_low_95", "rt_high_95"]
            display: "None"
            last_updated: "last_updated_rt"
        capacity:
            risk: "capacity_classification"
            right_display: "number_icu_beds"
            left_display: "number_beds"
            display: "dday_icu_beds"
            last_updated: "last_updated_subnotification"
        trust:
            risk: "trust_classification"
            right_display: "new_deaths_growth"
            left_display: "active_cases"
            display: "notification_rate"
            last_updated: "last_updated_subnotification"
    inloco:
        replace: 
            "São Valério da Natividade":
                "state_name": "Tocantins"
                "correct_name": "São Valério"
            "Campo Grande":
                "state_name": "Rio Grande do Norte"
                "correct_name": "Augusto Severo"
            "Boa Saúde":
                "state_name": "Rio Grande do Norte"
                "correct_name": "Boa Saúde"
    maps:
        idStateCode:
            AC: acre
            AL: alagoas
            AM: amazonas
            AP: amapa
            BA: bahia
            CE: ceara
            DF: None
            ES: espirito-santo
            GO: goias
            MA: maranhao
            MG: minas-gerias
            MS: mato-grosso-sul
            MT: mato-grosso
            PA: para
            PB: paraiba
            PE: pernambuco
            PI: piaui
            PR: parana
            RJ: rio-de-janeiro
            RN: rio-grande-do-norte
            RO: rodonia
            RR: roraima
            RS: rio-grande-do-sul
            SC: santa-catarina
            SE: sergipe
            SP: sao-paolo
            TO: tocantins
        idStatesMap:
            AC: 6zLqg
            AL: IRhKt
            AM: 97xgC
            AP: JGbPm
            BA: R5kLm
            CE: 4Ydg6
            DF: 3xrpK
            ES: 23wLN
            GO: 40VYf
            MA: vzsRd
            MG: G4PAe
            MS: q2Uu7
            MT: Tyyca
            PA: 8IEyQ
            PB: hsTA2
            PE: DwEMX
            PI: lspE8
            PR: V388R
            RJ: avtwO
            RN: esfff
            RO: 8ETGW
            RR: 2vwNn
            RS: VwAqA
            SC: fW157
            SE: CMYA0
            SP: 9IXnG
            TO: 32WAE
        BR_ID: NvbGP
        MAP_FOLDER_ID: "37343"
    rt_parameters:
        r_t_range_max: 12
        optimal_sigma: 0.01 # best sigma for Brazil (prior hyperparameters)
        window_size: 7
        gaussian_kernel_std: 2
        gaussian_min_periods: 7
        gamma_alpha: 4
        min_days: 14
    safereopen:
        rename:
            uf: "state_num_id"
            emprego: "n_employee"
            security_1: "security_index"
            massa_salarial: "total_wage_bill"
            ln_massa_salarial: "ln_total_wage_bill"
            sections: "sector"
    seir_parameters:
        asymptomatic_proportion: 0.3
        # => new values:
        mild_duration: 6 # time from symptoms to hospitalization
        severe_duration: 6 # time from symptoms to ICU admit (12) - time from symptoms to hospitalization
        critical_duration: 8 # time from hospital admit to death (14) - duration of severe infections
        fatality_ratio: 0.02 # fraction of all symptomatic infected individuals who eventually die
        # => our values:
        doubling_rate: 1.15
        incubation_period: 5
        i1_percentage: 0.855 # 0.801
        i2_percentage: 0.12 # 0.138
        i3_percentage: 0.025 # 0.061
        infected_health_care_proportion: 0.05
        hospitalized_by_age_perc:
            "from_0_to_9": 0.00002
            "from_10_to_19": 0.0004
            "from_20_to_29": 0.011
            "from_30_to_39": 0.034
            "from_40_to_49": 0.043
            "from_50_to_59": 0.082
            "from_60_to_69": 0.118
            "from_70_to_79": 0.166
            "from_80_to_older": 0.184
    simulacovid:
        resources_available_proportion: 0.5
    icons:
        farolcovid_logo: "https://i.imgur.com/l3vuQdP.png"
        simulacovid_logo: "https://i.imgur.com/OxTlsuW.png"
        distanciamentosocial_logo: "https://i.imgur.com/frUVHrY.png"
        saudeemordem_logo: "https://i.imgur.com/M0jr43n.png"
        ondacovid_logo: "https://i.imgur.com/Oy7IiGB.png"

impulso:
    contact:
        msg: "Olá Equipe Coronacidades. Vocês podem me ajuda com uma dúvida?"
        phone: "+551633823108"
