@page {
    width: 1440px;
    height: 2036px;

  }
/* PDF Report v2 page3 */

#n452_93{
position: relative;
width: 1440px;
height: 2036px;

background: #FFFFFF;


}
/* Retângulo Panorama Casos 1 */

#n467_136_1{
    position: absolute;
    width: 1210px;
    height: 189px;
    left: 83px;
    top: 499px;
    
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 9px;
}
/* Retângulo Panorama Casos 2 */

#n467_136_2{
    position: absolute;
    width: 1210px;
    height: 189px;
    left: 83px;
    top: 708px;
    
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 9px;
}
/* Retângulo Panorama Casos 3 */

#n467_136_3{
    position: absolute;
    width: 1210px;
    height: 189px;
    left: 83px;
    top: 917px;
    
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 9px;
}
/* dias value cenario negativo leitos */

#n464_39{
    position: absolute;
    width: 181px;
    height: 124px;
    left: 619px;
    top: 950px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 62px;
    display: inline-block;
    text-align: center;
    align-items: center;
    
    color: #000000;
    
}
/* dias value cenario negativo ventiladores */

#n464_40{
position: absolute;
width: 181px;
height: 124px;
left: 1022px;
top: 950px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: flex;
align-items: center;

color: #000000;



}
/* Retângulo Panorama Casos */

#n467_136{
position: absolute;
width: 1210px;
height: 189px;
left: 83px;
top: 499px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 9px;


}
/* dias value cenario estavel leitos */

#n464_35{
position: absolute;
width: 181px;
height: 124px;
left: 619px;
top: 520px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: inline-block;
text-align: center;
align-items: center;

color: #000000;



}
/* dias value cenario estavel ventiladores */

#n464_36{
position: absolute;
width: 181px;
height: 124px;
left: 1019px;
top: 520px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: inline-block;
align-items: center;

color: #000000;



}
/* Retângulo Panorama Casos */

#n467_136{
position: absolute;
width: 1210px;
height: 189px;
left: 83px;
top: 708px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 9px;


}
/* linha positivo 2 */

#n464_59{
position: absolute;
width: 184px;
height: 0px;
left: 836px;
top: 800px;

border: 2.5px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* linha negativo 2 */

#n464_60{
position: absolute;
width: 184px;
height: 0px;
left: 836px;
top: 1010px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* dias value cenario positivo leitos */

#n464_37{
position: absolute;
width: 181px;
height: 124px;
left: 619px;
top: 731px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: inline-block;
text-align: center;
align-items: center;

color: #000000;



}
/* dias value cenario positivo ventiladores */

#n464_38{
position: absolute;
width: 181px;
height: 124px;
left: 1019px;
top: 731px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 62px;
display: inline-block;
align-items: center;

color: #000000;



}
/* SIMULACOVID | PROJEÇÃO DE CENÁRIOS */

#n452_94{
position: absolute;
width: 1316px;
height: 98px;
left: 85px;
top: 38px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 130px;

color: #0097A7;



}
/* Cenario Estavel Desc */

#n452_98{
position: absolute;
width: 325px;
height: 117px;
left: 141px;
top: 567px;

font-family: IBM Plex Sans;
font-style: normal;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;

color: #000000;



}
/* cenario positivo descricao */

#n452_104{
position: absolute;
width: 325px;
height: 102px;
left: 137px;
top: 777px;

font-family: IBM Plex Sans;
font-style: normal;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;

color: #000000;



}
/* Cenário Negativo Hospital Label */

#n452_107{
position: absolute;
width: 250px;
height: 53px;
left: 172px;
top: 945px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #252729;



}
/* Cenário Positivo Hospital Label */

#n452_109{
position: absolute;
width: 241px;
height: 53px;
left: 176px;
top: 725px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #252729;



}
/* cenario negativo descricao */

#n452_111{
position: absolute;
width: 325px;
height: 97px;
left: 134px;
top: 997px;

font-family: IBM Plex Sans;
font-style: normal;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;

color: #000000;



}
/* Descricao */

#n452_122{
position: absolute;
width: 369px;
height: 284px;
left: 109px;
top: 176px;

font-family: IBM Plex Sans;
font-style: normal;
font-size: 20px;
line-height: 26px;
align-items: center;

color: #000000;



}
/* Cenário Estável Hospital Label */

#n452_96{
position: absolute;
width: 226px;
height: 53px;
left: 191px;
top: 514px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #252729;



}
/* bed_fig_estavel */

#n464_33{
position: absolute;
width: 176px;
height: 144px;
left: 580px;
top: 276px;


}
/* ventilador_fig_estavel */

#n464_34{
position: absolute;
width: 130px;
height: 167px;
left: 1110px;
top: 247px;


}
/* VISÃO DETALHADA DA SIMULAÇÃO */

#n464_42{
position: absolute;
width: 1307px;
height: 84px;
left: 83px;
top: 1150px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 77px;
display: flex;
align-items: center;

color: #0097A7;



}
/* Cenário Estável: Assumindo que o ritmo de contágio permaneça o mesmo. */

#n464_43{
position: absolute;
width: 981px;
height: 53px;
left: 77px;
top: 1242px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: center;

color: #000000;



}
/* Na área amarela está o intervalo de confiança dos valores da demanda por leitos a cada dia no seu local, e em verde a por ventiladores. Para evitar uma sobrecarga hospitalar, a sua demanda (a curva 📈) deve estar abaixo da respectiva linhas tracejadas (a reta horizontal ➖). Em outras palavras, a quantidade de pessoas que precisam ser internadas por dia não deve ultrapassar o número de equipamentos disponíveis. */

#n464_44{
position: absolute;
width: 1347px;
height: 78px;
left: 77px;
top: 1313px;

font-family: IBM Plex Sans;
font-style: normal;
font-size: 20px;
line-height: 26px;
align-items: center;

color: #000000;



}
/* label 2 */

#n464_45{
background-size: 1800px 900px;
background-position: -30px -1740px;
position: absolute;
width: 1300px;
height: 47px;
left: 213px;
top: 1901px;
border: 0px solid black;


}
/* newplot (3) 2 */

#n464_46{
background-size: 1420px 620px;
background-position: -30px -20px;
position: absolute;
width: 1353px;
height: 503px;
left: 51px;
top: 1398px;
border: 0px solid black;


}
/* Hoje */

#n464_47{
position: absolute;
width: 40px;
height: 36px;
left: 20px;
top: 1882px;

font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;



}
/* Arrow 10 */

#n464_48{
position: absolute;
width: 24.21px;
height: 0px;
left: 50px;
top: 1885px;

border: 2px solid #000000;
box-sizing: border-box;
transform: rotate(-38.29deg);


}
/* Arrow 11 */

#n467_149{
position: absolute;
width: 24.21px;
height: 0px;
left: 89px;
top: 1885px;

border: 0px solid #000000;
box-sizing: border-box;
transform: rotate(-38.29deg);


}

/* Saiba mais sobre a metologia em https://farolcovid.coronacidades.org/ */

#n464_57{
position: absolute;
width: 637px;
height: 57px;
left: 603px;
top: 1966px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;

color: #000000;



}
/* 3 */

#n464_58{
position: absolute;
width: 15px;
height: 31px;
left: 1380px;
top: 1992px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;

color: #000000;



}
/* Data */

#n467_140{
position: absolute;
width: 289px;
height: 75px;
left: 1127px;
top: 5px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 59px;
display: flex;
align-items: center;
text-align: right;

color: #000000;



}
/* capacidade maxima desc label */

#n464_53{
position: absolute;
width: 369px;
height: 140px;
left: 735px;
top: 166px;

font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #252729;



}
/* leitos label tabela */

#n467_141{
position: absolute;
width: 166px;
height: 57px;
left: 585px;
top: 426px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 59px;
display: inline-block;
align-items: center;
text-align: center;

color: #0097A7;



}
/* ventiladores label tabela */

#n467_142{
position: absolute;
width: 282px;
height: 57px;
left: 1019px;
top: 426px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 59px;
display: inline-block;
align-items: center;
text-align: center;

color: #0097A7;



}
/* linha estavel 1 */

#n467_143{
position: absolute;
width: 184px;
height: 0px;
left: 425px;
top: 592px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* linha negativo 1 */

#n467_145{
position: absolute;
width: 184px;
height: 0px;
left: 425px;
top: 1010px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* linha positivo 1 */

#n467_146{
position: absolute;
width: 184px;
height: 0px;
left: 425px;
top: 800px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* linha estavel 2 */

#n467_144{
position: absolute;
width: 184px;
height: 0px;
left: 836px;
top: 592px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);
}

/* coronacidades rodape */

#n464_22p3{
    position: absolute;
    width: 270px;
    height: 30px;
    left: 45px;
    top: 1982px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0097A7;
    
    
}
/* coronacidades rodape pt2 */

#n464_22p3pt2{
    position: absolute;
    width: 270px;
    height: 30px;
    left: 175px;
    top: 1982px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0097A7;
}
/* impulso rodape */

#n464_23{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 338px;
    top: 1980px;
    
}