@page {
    width: 1440px;
    height: 2036px;

  }
/* PDF Report v2 page1 */

#n452_2{
position: relative;
width: 1440px;
height: 2036px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
/* farol png igveup */
#n452_farol{
    position: absolute;
    width: 125.64px;
    height: 284.86px;
    left: 805px;
    top: 329.85px;
    z-index:1;
}
/* coronacidades */

#n413_2{
    position: absolute;
    width: 499.94px;
    height: 96.29px;
    left: 32px;
    top: 42px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0097A7;



}
/* coronacidades pt2 */

#n413_2pt2{
    position: absolute;
    width: 499.94px;
    height: 96.29px;
    left: 241px;
    top: 43px;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0097A7;
}

/* Retângulo de risco alto do farol */

#n452_4{
position: absolute;
width: 406.65px;
height: 75.47px;
left: 918.75px;
top: 348.95px;

background: #FF5F6B;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 9px;


}
/* Retângulo de risco médio do farol */

#n452_4_2{
    position: absolute;
    width: 406.65px;
    height: 75.47px;
    left: 918.75px;
    top: 435px;
    
    background: #F2C94C;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    
    
}
/* Retângulo de risco baixo do farol */

#n452_4_3{
    position: absolute;
    width: 406.65px;
    height: 75.47px;
    left: 918.75px;
    top: 520px;
    
    background: #02B529;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px; 
}
/* Referente a */

#n452_8{
position: absolute;
width: 166px;
height: 44px;
left: 1221px;
top: 44px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 44px;
display: flex;
align-items: center;

color: #000000;



}
/* Data */

#n452_9{
position: absolute;
width: 289px;
height: 75px;
left: 1106px;
top: 83px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 77px;
display: flex;
align-items: center;
text-align: right;

color: #000000;



}
/* coronacidades logo top */

#n452_12{
position: absolute;
width: 499.94px;
height: 96.29px;
left: 32px;
top: 43px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: flex;
align-items: center;
text-align: center;

color: #0097A7;



}
/* FAROL COVID */

#n452_13{
position: absolute;
width: 324.51px;
height: 225.54px;
left: 75px;
top: 152px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 124px;
line-height: 130px;

color: #0097A7;



}
/* SEU MUNICÍPIO ESTÁ EM */

#n452_14{
position: absolute;
width: 592px;
height: 130px;
left: 761px;
top: 209px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 130px;

color: #0097A7;



}
/* Entenda e controle a Covid-19 no seu município */

#n452_15{
position: absolute;
width: 594.25px;
height: 174.36px;
left: 78px;
top: 424px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #0097A7;



}
/* Farol Body */

#n452_16{
position: absolute;
width: 125.64px;
height: 284.86px;
left: 805px;
top: 329.85px;

background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
transform: matrix(1, 0, 0, -1, 0, 0);


}
/* Luz Verde */

#n452_17{
position: absolute;
width: 66.88px;
height: 65.69px;
left: 834.38px;
top: 528.33px;

background: rgb(0, 0, 0);
box-sizing: border-box;
transform: matrix(1, 0, 0, -1, 0, 0);


}
/* Luz Amarela */

#n452_18{
position: absolute;
width: 66.88px;
height: 65.69px;
left: 834.38px;
top: 439.93px;

background: rgb(0, 0, 0);
box-sizing: border-box;
transform: matrix(1, 0, 0, -1, 0, 0);


}
/* Luz Vermelha */

#n452_19{
position: absolute;
width: 66.88px;
height: 65.69px;
left: 834.38px;
top: 352.75px;
transform: matrix(1, 0, 0, -1, 0, 0);
background: rgb(0, 0, 0);
box-sizing: border-box;

}

/* RISCO ALTO */

#n452_20{
position: absolute;
width: 323.49px;
height: 46.84px;
left: 963px;
top: 362px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 95px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
/* RISCO MÉDIO */

#n452_20_2{
    position: absolute;
    width: 323.49px;
    height: 46.84px;
    left: 963px;
    top: 451px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 95px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* RISCO BAIXO */

#n452_20_3{
    position: absolute;
    width: 323.49px;
    height: 46.84px;
    left: 963px;
    top: 535px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* Retângulo Subnotificaçao */

#n452_21{
position: absolute;
width: 320px;
height: 399px;
left: 46px;
top: 818px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 31px;


}
/* RITMO DE CONTÁGIO */

#n452_22{
position: absolute;
width: 267px;
height: 24px;
left: 46px;
top: 843px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;



}
/* Cada contaminado infecta em média outras */

#n452_23{
position: absolute;
left: 5.07%;
right: 78.47%;
top: 43.52%;
bottom: 51.28%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #212529;



}
/* Número Ritmo de Contágio Label */

#n452_24{
position: absolute;
left: 7.5%;
right: 74.65%;
top: 49%;
bottom: 47.79%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 62px;

color: #212529;



}
/* Número Ritmo de Contágio Low */

#n452_25{
position: absolute;
left: 4.72%;
right: 89.72%;
top: 48.87%;
bottom: 47.59%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #212529;



}
/* Número Ritmo de Contágio High */

#n452_26{
position: absolute;
left: 12.22%;
right: 82.08%;
top: 48.87%;
bottom: 47.59%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #212529;



}
/* Retângulo Colorido Ritmo de Contágio Ruim */

#n452_27{
position: absolute;
width: 98px;
height: 43px;
left: 73px;
top: 1072px;

background: #FF5F6B;
border: 1px solid #000000;
border-radius: 5.904px;
}
/* Retângulo Colorido Ritmo de Contágio Insatisfatório */

#n452_27_2{
    position: absolute;
    width: 163px;
    height: 43px;
    left: 73px;
    top: 1072px;
    
    background: #F2C94C;
    border: 1px solid #000000;
    border-radius: 5.904px;
}
/* Retângulo Colorido Ritmo de Contágio Bom */

#n452_27_3{
    position: absolute;
    width: 97px;
    height: 43px;
    left: 73px;
    top: 1072px;
    
    background: #02B529;
    border: 1px solid #000000;
    border-radius: 5.904px;
}
/* Nível do Ritmo de Contágio Ruim */

#n452_28{
position: absolute;
left: 6.25%;
right: 89.38%;
top: 52.75%;
bottom: 45.43%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;


}
/* Nível do Ritmo de Contágio Insatisfatório */
#n452_28_2{
    position: absolute;
    left: 5.5%;
    right: 89.18%;
    top: 52.75%;
    bottom: 45.43%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    
}
/* Nível do Ritmo de Contágio Bom */

#n452_28_3{
    position: absolute;
    left: 6.25%;
    right: 89.38%;
    top: 52.75%;
    bottom: 45.43%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    
}
/* Semana passada Contágio Label */

#n452_29{
position: absolute;
width: 141px;
height: 23px;
left: 73px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Ritmo de Contágio Semana Passada */

#n452_30{
position: absolute;
width: 71px;
height: 24px;
left: 102px;
top: 1162px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Tendência Contágio Label */

#n452_31{
position: absolute;
width: 85px;
height: 22px;
left: 248px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Contágio */

#n452_32{
position: absolute;
width: 134px;
height: 24px;
left: 224px;
top: 1161px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Linha Contágio Design */

#n452_33{
position: absolute;
width: 46px;
height: 0px;
left: 192px;
top: 1163px;

border: 1px solid #C4C4C4;
transform: rotate(90deg);


}
/* Retângulo Subnotificação */

#n452_34{
position: absolute;
width: 319px;
height: 399px;
left: 390px;
top: 819px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 31px;


}
/* TAXA DE SUBNOTIFICAÇÃO */

#n452_35{
position: absolute;
width: 287px;
height: 24px;
left: 407px;
top: 844px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;



}
/* A cada 10 pessoas infectadas, somente */

#n452_36{
position: absolute;
left: 29.03%;
right: 54.51%;
top: 44.11%;
bottom: 52.36%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #212529;



}
/* Retângulo Colorido Subnotificação Ruim */

#n452_37{
    position: absolute;
    width: 98px;
    height: 43px;
    left: 418px;
    top: 1073px;
    
    background: #FF5F6B;
    border: 1px solid #000000;
    border-radius: 5.904px;
    
}
/* Retângulo Colorido Subnotificação Insatisfatório */

#n452_37_2{
position: absolute;
width: 163px;
height: 43px;
left: 418px;
top: 1073px;

background: #F2C94C;
border: 1px solid #000000;
border-radius: 5.904px;


}
/* Retângulo Colorido Subnotificação Insatisfatório Bom */

#n452_37_3{
    position: absolute;
    width: 98px;
    height: 43px;
    left: 418px;
    top: 1073px;
    
    background: #02B529;
    border: 1px solid #000000;
    border-radius: 5.904px;
    
    
}
/* Nível do alerta subnotificação Ruim */

#n452_38{
    position: absolute;
    left: 30.38%;
    right: 59.93%;
    top: 52.9%;
    bottom: 45.58%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* Nível do alerta subnotificação Insatisfatório */

#n452_38_2{
position: absolute;
left: 29.38%;
right: 59.93%;
top: 52.9%;
bottom: 45.58%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
/* Nível do alerta subnotificação Bom */

#n452_38_3{
    position: absolute;
    left: 30.68%;
    right: 59.93%;
    top: 53%;
    bottom: 45.58%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* Ranking Brasil Label */

#n452_39{
position: absolute;
width: 140px;
height: 23px;
left: 418px;
top: 1140px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Taxa de Subnotificação Ranking Número */

#n452_40{
position: absolute;
width: 29px;
height: 24px;
left: 462px;
top: 1161px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Tendência Subnotificação Label */

#n452_41{
position: absolute;
width: 86px;
height: 22px;
left: 592px;
top: 1140px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Subnotificação */

#n452_42{
position: absolute;
width: 7px;
height: 24px;
left: 631px;
top: 1163px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Linha Subnotificação Design */

#n452_43{
position: absolute;
width: 46px;
height: 0px;
left: 537px;
top: 1163px;

border: 1px solid #C4C4C4;
transform: rotate(90deg);


}
/* Número Subnotificação Label */

#n452_44{
position: absolute;
left: 35.42%;
right: 51.46%;
top: 50.05%;
bottom: 48.48%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

color: #212529;



}
/* Número Subnotificaçao */

#n452_45{
position: absolute;
left: 29.79%;
right: 65.62%;
top: 48.43%;
bottom: 48.04%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #212529;



}
/* Retângulo Hospitalar */

#n452_46{
position: absolute;
width: 319px;
height: 399px;
left: 734px;
top: 818px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 31px;


}
/* CAPACIDADE HOSPITALAR */

#n452_47{
position: absolute;
width: 287px;
height: 24px;
left: 749px;
top: 843px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;



}
/* A capacidade hospitalar será atingida em */

#n452_48{
position: absolute;
left: 52.92%;
right: 30.62%;
top: 43.52%;
bottom: 51.28%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #212529;



}
/* Retângulo Colorido Hospitalar Ruim */

#n452_49{
    position: absolute;
    width: 97px;
    height: 43px;
    left: 761px;
    top: 1072px;
    
    background: #FF5F6B;
    border: 1px solid #000000;
    border-radius: 5.904px;
    
    
    }
    /* Retângulo Colorido Hospitalar Insatisfatório */

#n452_49_2{
    position: absolute;
    width: 163px;
    height: 43px;
    left: 761px;
    top: 1072px;
    
    background: #F2C94C;
    border: 1px solid #000000;
    border-radius: 5.904px;
    
    
}
/* Retângulo Colorido Hospitalar Bom */

#n452_49_3{
position: absolute;
width: 97px;
height: 43px;
left: 761px;
top: 1072px;

background: #02B529;
border: 1px solid #000000;
border-radius: 5.904px;


}
/* Nível do alerta Hospitalar Ruim */

#n452_50{
    position: absolute;
    left: 54.24%;
    right: 42.08%;
    top: 52.75%;
    bottom: 45.43%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    
}
/* Nível do alerta Hospitalar Insatisfatório */

#n452_50_2{
    position: absolute;
    left: 53.3%;
    right: 42.08%;
    top: 52.75%;
    bottom: 45.43%;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    
}
/* Nível do alerta Hospitalar Bom */

#n452_50_3{
position: absolute;
left: 54.24%;
right: 42.08%;
top: 52.75%;
bottom: 45.43%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;


}
/* Semana Passada Hospitalar Label */

#n452_51{
position: absolute;
width: 139px;
height: 23px;
left: 761px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Capacidade Hospitalar Semana Passada Número */

#n452_52{
position: absolute;
width: 120px;
height: 24px;
left: 761px;
top: 1165px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: inline-block;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Hospitalar Label */

#n452_53{
position: absolute;
width: 85px;
height: 22px;
left: 936px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Hospitalar */

#n452_54{
position: absolute;
width: 69px;
height: 24px;
left: 944px;
top: 1162px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: inline-block;
align-items: center;
text-align: center;

color: #212529;



}
/* Linha Hospitalar Design */

#n452_55{
position: absolute;
width: 46px;
height: 0px;
left: 888px;
top: 1163px;

border: 1px solid #C4C4C4;
transform: rotate(90deg);


}
/* Número Capacidade Hospitalar Label End */

#n452_56{
position: absolute;
left: 62.5%;
right: 27.78%;
top: 49.46%;
bottom: 47.94%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;

color: #212529;



}
/* Número Capacidade Hospitalar Low */

#n452_57{
position: absolute;
left: 51.88%;
right: 37.29%;
top: 48.72%;
bottom: 47.74%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #212529;



}
/* Retângulo Isolamento */

#n452_58{
position: absolute;
width: 320px;
height: 399px;
left: 1079px;
top: 818px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 31px;


}
/* ISOLAMENTO SOCIAL */

#n452_59{
position: absolute;
width: 223px;
height: 25px;
left: 1100px;
top: 840px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;



}
/* Na última semana, ficaram em casa: */

#n452_60{
position: absolute;
left: 76.88%;
right: 6.53%;
top: 43.52%;
bottom: 53.09%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #212529;



}
/* Nível do alerta Isolamento */

#n452_61{
position: absolute;
left: 76.81%;
right: 12.5%;
top: 52.65%;
bottom: 45.53%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* Semana Passada Isolamento Label */

#n452_62{
position: absolute;
width: 141px;
height: 23px;
left: 1106px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;

color: #212529;



}
/* Isolamento Social Semana Passada Número */

#n452_63{
position: absolute;
width: 122px;
height: 24px;
left: 1106px;
top: 1165px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: inline-block;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Isolamento Label */

#n452_64{
position: absolute;
width: 87px;
height: 22px;
left: 1281px;
top: 1139px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Tendência Isolamento */

#n452_65{
position: absolute;
width: 129px;
height: 24px;
left: 1261px;
top: 1162px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #212529;



}
/* Linha Isolamento Design */

#n452_66{
position: absolute;
width: 46px;
height: 0px;
left: 1220px;
top: 1163px;

border: 1px solid #C4C4C4;
transform: rotate(90deg);


}
/* Número Isolamento Social Label */

#n452_67{
position: absolute;
left: 87.78%;
right: 3.82%;
top: 49.75%;
bottom: 48.77%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

color: #212529;



}
/* Número Isolamento Social */

#n452_68{
position: absolute;
left: 77.22%;
right: 12.78%;
top: 48.23%;
bottom: 48.28%;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;

color: #212529;



}
/* coronacidades rodape */

#n464_22p1{
position: absolute;
width: 270px;
height: 30px;
left: 45px;
top: 1982px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 83px;
display: flex;
align-items: center;
text-align: center;

color: #0097A7;


}
/* coronacidades rodape pt2 */

#n464_22p1pt2{
    position: absolute;
    width: 270px;
    height: 30px;
    left: 175px;
    top: 1982px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0097A7;
    }
/* impulso rodape */

#n464_23{
position: absolute;
width: 200px;
height: 42px;
left: 338px;
top: 1980px;
}
/* Saiba mais sobre a metologia em https://farolcovid.coronacidades.org/ */

#n464_24{
position: absolute;
width: 637px;
height: 57px;
left: 603px;
top: 1971px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;

color: #000000;



}
/* pagenumber */

#n464_25{
position: absolute;
width: 15px;
height: 31px;
left: 1380px;
top: 1981px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;

color: #000000;



}
/* Dados principais covid-19 */

#n452_69{
position: absolute;
width: 1131px;
height: 85px;
left: 61px;
top: 1418px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 77px;
display: flex;
align-items: center;

color: #0097A7;



}
/* Frame casos de coronavirus */

#n452_70{
position: absolute;
width: 1327px;
height: 176px;
left: 57px;
top: 1512px;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 9px;


}
/* Fonte: Brasil.IO atualizado diariamente com base em boletins das secretarias de saúde ESTADUAIS. */

#n452_71{
position: absolute;
width: 418px;
height: 50px;
left: 85px;
top: 1602px;

font-family: IBM Plex Sans;
font-style: normal;
/*font-weight: bold;*/
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;

color: #000000;



}
/* Coluna casos 2 */

#n452_72{
position: absolute;
width: 172px;
height: 0px;
left: 726px;
top: 1598px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* Coluna casos 1 */

#n452_73{
position: absolute;
width: 172px;
height: 0px;
left: 453px;
top: 1598px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* Coluna hospitalar 1 */

#n452_74{
position: absolute;
width: 172px;
height: 0px;
left: 453px;
top: 1798px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* Coluna casos 3 */

#n452_75{
position: absolute;
width: 172px;
height: 0px;
left: 1003px;
top: 1598px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* casos confirmados num */

#n452_76{
position: absolute;
width: 277px;
height: 83px;
left: 538px;
top: 1534px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: inline-block;
align-items: center;
text-align: center;
color: #000000;



}
/* confirmados label */

#n452_77{
position: absolute;
width: 270px;
height: 86.42px;
left: 596px;
top: 1594px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* casos ativos num */

#n452_78{
position: absolute;
width: 282px;
height: 83px;
left: 1094px;
top: 1534px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: inline-block;
align-items: center;
text-align: center;
color: #000000;



}
/* casos ativos estimados* label */

#n452_79{
position: absolute;
width: 270px;
height: 86.42px;
left: 1120px;
top: 1593px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* mortes num */

#n452_80{
position: absolute;
width: 277px;
height: 83px;
left: 814px;
top: 1534px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: inline-block;
align-items: center;
text-align: center;
color: #000000;



}
/* mortes label */

#n452_81{
position: absolute;
width: 93px;
height: 36px;
left: 908px;
top: 1618px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* Fonte: DATASUS CNes, maio/2020. */

#n452_82{
position: absolute;
width: 585px;
height: 23px;
left: 88px;
top: 1817px;

font-family: IBM Plex Sans;
font-style: normal;
/*font-weight: bold;*/
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;

color: #000000;



}
/* asterisco disclaimer */

#n452_83{
position: absolute;
width: 250px;
height: 133px;
left: 1108px;
top: 1742px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;

color: #000000;



}
/* Frame capacidade hospitalar */

#n452_84{
position: absolute;
width: 1327px;
height: 176px;
left: 58px;
top: 1712px;

border: 2px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 9px;


}
/* Casos de Coronavírus */

#n452_85{
position: absolute;
width: 364px;
height: 47px;
left: 85px;
top: 1550px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* coluna hospitalar 2 */

#n452_86{
position: absolute;
width: 172px;
height: 0px;
left: 726px;
top: 1798px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* coluna hospitalar 3 */

#n452_87{
position: absolute;
width: 172px;
height: 0px;
left: 1003px;
top: 1798px;

border: 2px solid rgba(0, 0, 0, 0.5);
transform: rotate(90deg);


}
/* leitos num */

#n452_88{
position: absolute;
width: 277px;
height: 83px;
left: 538px;
top: 1734px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: inline-block;
align-items: center;
text-align: center;
color: #000000;



}
/* leitos** label */

#n452_89{
position: absolute;
width: 270px;
height: 86.42px;
left: 630px;
top: 1793px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* ventiladores num */

#n452_90{
position: absolute;
width: 277px;
height: 83px;
left: 810px;
top: 1735px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 83px;
display: inline-block;
align-items: center;
text-align: center;
color: #000000;



}
/* ventiladores label */

#n452_91{
position: absolute;
width: 290px;
height: 86.42px;
left: 870px;
top: 1793px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* Capacidade Hospitalar */

#n452_92{
position: absolute;
width: 386px;
height: 47px;
left: 85px;
top: 1760px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



}
/* Nome da cidade */

#n452_7{
position: absolute;
width: 1092px;
height: 61px;
left: 71px;
top: 709px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 107px;
display: flex;
align-items: center;

color: #0097A7;



}
/* Indicadores de nivel de alerta */

#n467_124{
position: absolute;
width: 1092px;
height: 61px;
left: 76px;
top: 643px;

font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 47px;
display: flex;
align-items: center;

color: #0097A7;



}
/* Quer ajuda no combate ao Coronavírus na sua cidade ou estado? */

#n452_10{
position: absolute;
width: 979px;
height: 47.79px;
left: 72px;
top: 1247px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 44px;
display: flex;
align-items: center;

color: #000000;



}
/* Estamos à disposicao label */

#n452_11{
position: absolute;
width: 1182px;
height: 78px;
left: 71px;
top: 1295px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;

color: #000000;

}