:root {
    --main-green: #1FA592 ;
    --main-dark-green: #186F72;
    --main-red: #F26D3D;
    --main-orange: #F59954;
    --main-yellow: #F2D335;
    --main-grey: #C6C5BD;
    --main-white: #fff;
    --main-margin: 2em;
    --main-padding: 2em;
    --minor-padding: 0.5em;
    --main-border-radius: 20px;
    --main-border-radius-pill: 50px;
}

/* default background colors */
.red-bg {
    background-color: var(--main-red);
}

.green-bg {
    background-color: var(--main-green);
}

.yellow-bg {
    background-color: var(--main-yellow);
}

.orange-bg {
    background-color: var(--main-orange);
}

.dark-green-bg {
    background-color: var(--main-dark-green);
}

.grey-bg {
    background-color: var(--main-grey);
}

/* default span colors */
.grey-span {
    color: var(--main-grey);
}

.green-span {
    color: var(--main-green)
}

.dark-green-span {
    color: var(--main-dark-green)
}

h1 {
    color: var(--main-green);
}

.info {
    padding: var(--main-padding);
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
}

.scenario {
    padding: var(--minor-padding);
    display: flex;
    justify-content: center;
}

/* KPI Output - Square Style */
.kpi-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: var(--main-padding);

}

.kpi-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 2em;
    margin: 1em;
    border-radius: 15px;
    flex: 1 1 50%;
}

.kpi {
    font-size: 64px;
    font-weight: bold;
    color:var(--main-white);
    
}

/* Simulation Output - Banner Style */
.simulator-output-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--minor-padding);
    border-radius: var(--main-border-radius);
} 

.simulator-output-row {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;
}

.simulator-output-row-prediction {
    /* flex-basis: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 50%;
    
}

.simulator-output-row-prediction-value {
    font-size: 96px;
    font-weight: bold;
    color: var(--main-white)
}

.simulator-output-row-prediction-separator {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.simulator-output-row-prediction-label {
    flex: 1 0 50%;
    font-size: 24px;
    color: white;
}

/* Scenario Row */

.scenario-wrapper {
    background-color: #3A3A34;
    width: 100%;
    padding: var(--main-padding);
}

.scenario-wrapper h2 {
    text-decoration: underline;
    color: var(--main-white);
}
.scenario-card {
    padding: var(--main-padding) var(--minor-padding);
    border-radius: var(--main-border-radius);
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--main-margin);
}

.scenario-card-header {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scenario-card-header-code {
    font-size: 24px;
    font-weight: bold;
}

.scenario-card-header-name-background {
    margin: var(--main-margin);
    padding: 12px;
    border-radius: var(--main-border-radius-pill);

}

.scenario-card-header-name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-white);
    white-space: nowrap;
}

.scenario-card-img {
    width: 200px;
    height: auto;
}

.scenario-card-description {
    margin-top: var(--main-margin);
    text-align: center;
}

/* Add later to override default margins */
.reportview-container .main .block-container {
    /* padding: 0rem;
    max-width: 100% */
}